Error in DNS passthrough for some domains with CNAME

### PacketFence: 8.1.0
For some domains contained CNAME, pfdns does not insert in ipset (passthrough). For example: passthroughs=*.paypal.com with request to www.paypal.com, in this case, errors appear in the pfdns.log:
`Jul 17 14:20:29 pf pfdns[6648]: 17/Jul/2018:14:20:29 +0200 [PANIC www.paypal.com. A] plugin/pfdns/pfdns.go:146 - runtime error: invalid memory address or nil pointer dereference`
but for domain www.sandbox.paypal.com all working fine, distinguish in the fact that he does not have CNAME in the DNS response. His fine log:
`Jul 17 13:53:43 pf pfdns[6648]: 192.168.32.11 - [17/Jul/2018:13:53:43 +0200] "A IN www.sandbox.paypal.com. udp 40 false 512" NOERROR qr,rd,ra 216 47.575305ms`
Here is the difference in the nslookup response for these domains:

```
root@pf:~# nslookup www.paypal.com 8.8.8.8
Server:         8.8.8.8
Address:        8.8.8.8#53

Non-authoritative answer:
www.paypal.com  canonical name = geo.paypal.com.akadns.net.
geo.paypal.com.akadns.net       canonical name = hotspot-www.paypal.com.akadns.net.
hotspot-www.paypal.com.akadns.net       canonical name = wlb.paypal.com.akadns.net.
wlb.paypal.com.akadns.net       canonical name = www.paypal.com.edgekey.net.
www.paypal.com.edgekey.net      canonical name = e3694.a.akamaiedge.net.
Name:   e3694.a.akamaiedge.net
Address: 23.209.100.230


root@pf:~# nslookup www.sandbox.paypal.com 8.8.8.8
Server:         8.8.8.8
Address:        8.8.8.8#53

Non-authoritative answer:
Name:   www.sandbox.paypal.com
Address: 173.0.82.77
```

Also exists this problem for other domains that are targeted for pass-through.

I tried it and i am not able to replicate.
Is it when the device is in the registration vlan or in a inline vlan ?

@fdurand First, we found this on the PF ver. 8.0.1, after reading the issue [#3348](https://github.com/inverse-inc/packetfence/issues/3348), we thought that this decision and made an update to 8.1.0, but the problem remained. As I wrote before, this reaction only to the domains containing in the answer CNAME fields, maybe our local upstream DNS server issues is a long or incorrect answer, we will try to check this on other upstream DNS servers.

We set up the upstream DNS as 8.8.8.8 (Google Public) in the file */etс/resolv.conf* and the **pfdns** service started responding correctly and passthrough earned successful for **paypal.com**. But then why does the error "*invalid memory address or nil pointer dereference*" appear when querying the domain of the **paypal.com** through our DNS server? Then we began to compare the responses to the *dig* request of different DNS servers:

<details> 
  <summary>Google Public DNS server 8.8.8.8 (MSG SIZE  rcvd: 212) <b>pfdns SUCCESSFUL</b></summary>

```console
root@pf:~# dig @8.8.8.8 www.paypal.com

; <<>> DiG 9.9.5-9+deb8u15-Debian <<>> @8.8.8.8 www.paypal.com
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 38028
;; flags: qr rd ra; QUERY: 1, ANSWER: 6, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 512
;; QUESTION SECTION:
;www.paypal.com.                        IN      A

;; ANSWER SECTION:
www.paypal.com.         175     IN      CNAME   geo.paypal.com.akadns.net.
geo.paypal.com.akadns.net. 29   IN      CNAME   hotspot-www.paypal.com.akadns.net.
hotspot-www.paypal.com.akadns.net. 29 IN CNAME  wlb.paypal.com.akadns.net.
wlb.paypal.com.akadns.net. 29   IN      CNAME   www.paypal.com.edgekey.net.
www.paypal.com.edgekey.net. 96  IN      CNAME   e3694.a.akamaiedge.net.
e3694.a.akamaiedge.net. 19      IN      A       23.53.173.13

;; Query time: 158 msec
;; SERVER: 8.8.8.8#53(8.8.8.8)
;; WHEN: Thu Jul 19 14:13:03 CEST 2018
;; MSG SIZE  rcvd: 212
```
</details>

<details> 
  <summary>Our upstream DNS server 217.151.224.19 (MSG SIZE  rcvd: 356) <b>pfdns ERROR!!!</b></summary>

```console
root@pf:~# dig @217.151.224.19 www.paypal.com

; <<>> DiG 9.9.5-9+deb8u15-Debian <<>> @217.151.224.19 www.paypal.com
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 10595
;; flags: qr rd ra; QUERY: 1, ANSWER: 6, AUTHORITY: 8, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;www.paypal.com.                        IN      A

;; ANSWER SECTION:
www.paypal.com.         300     IN      CNAME   geo.paypal.com.akadns.net.
geo.paypal.com.akadns.net. 30   IN      CNAME   hotspot-www.paypal.com.akadns.net.
hotspot-www.paypal.com.akadns.net. 30 IN CNAME  wlb.paypal.com.akadns.net.
wlb.paypal.com.akadns.net. 30   IN      CNAME   www.paypal.com.edgekey.net.
www.paypal.com.edgekey.net. 120 IN      CNAME   e3694.a.akamaiedge.net.
e3694.a.akamaiedge.net. 20      IN      A       23.53.173.13

;; AUTHORITY SECTION:
a.akamaiedge.net.       2451    IN      NS      n4a.akamaiedge.net.
a.akamaiedge.net.       2451    IN      NS      n6a.akamaiedge.net.
a.akamaiedge.net.       2451    IN      NS      n1a.akamaiedge.net.
a.akamaiedge.net.       2451    IN      NS      n3a.akamaiedge.net.
a.akamaiedge.net.       2451    IN      NS      n2a.akamaiedge.net.
a.akamaiedge.net.       2451    IN      NS      n0a.akamaiedge.net.
a.akamaiedge.net.       2451    IN      NS      n5a.akamaiedge.net.
a.akamaiedge.net.       2451    IN      NS      n7a.akamaiedge.net.

;; Query time: 360 msec
;; SERVER: 217.151.224.19#53(217.151.224.19)
;; WHEN: Thu Jul 19 14:12:30 CEST 2018
;; MSG SIZE  rcvd: 356
```
</details>

<details> 
  <summary>OpenNIC Public Server 5.132.191.104 (MSG SIZE  rcvd: 512) <b>pfdns SUCCESSFUL</b></summary>

```console
root@pf:~# dig @5.132.191.104 www.paypal.com

; <<>> DiG 9.9.5-9+deb8u15-Debian <<>> @5.132.191.104 www.paypal.com
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 55015
;; flags: qr rd ra; QUERY: 1, ANSWER: 6, AUTHORITY: 8, ADDITIONAL: 10

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;www.paypal.com.                        IN      A

;; ANSWER SECTION:
www.paypal.com.         300     IN      CNAME   geo.paypal.com.akadns.net.
geo.paypal.com.akadns.net. 30   IN      CNAME   hotspot-www.paypal.com.akadns.net.
hotspot-www.paypal.com.akadns.net. 30 IN CNAME  wlb.paypal.com.akadns.net.
wlb.paypal.com.akadns.net. 30   IN      CNAME   www.paypal.com.edgekey.net.
www.paypal.com.edgekey.net. 120 IN      CNAME   e3694.a.akamaiedge.net.
e3694.a.akamaiedge.net. 20      IN      A       92.122.157.148

;; AUTHORITY SECTION:
a.akamaiedge.net.       2176    IN      NS      n2a.akamaiedge.net.
a.akamaiedge.net.       2176    IN      NS      n3a.akamaiedge.net.
a.akamaiedge.net.       2176    IN      NS      n4a.akamaiedge.net.
a.akamaiedge.net.       2176    IN      NS      n5a.akamaiedge.net.
a.akamaiedge.net.       2176    IN      NS      n6a.akamaiedge.net.
a.akamaiedge.net.       2176    IN      NS      n7a.akamaiedge.net.
a.akamaiedge.net.       2176    IN      NS      n0a.akamaiedge.net.
a.akamaiedge.net.       2176    IN      NS      n1a.akamaiedge.net.

;; ADDITIONAL SECTION:
n0a.akamaiedge.net.     2176    IN      A       88.221.81.192
n0a.akamaiedge.net.     2176    IN      AAAA    2600:1480:e800::c0
n1a.akamaiedge.net.     2176    IN      A       2.23.97.119
n2a.akamaiedge.net.     2176    IN      A       2.23.97.117
n3a.akamaiedge.net.     2176    IN      A       2.23.97.125
n4a.akamaiedge.net.     2176    IN      A       2.23.97.126
n5a.akamaiedge.net.     2176    IN      A       2.23.97.92
n6a.akamaiedge.net.     2176    IN      A       2.23.97.127
n7a.akamaiedge.net.     2176    IN      A       23.6.113.188

;; Query time: 66 msec
;; SERVER: 5.132.191.104#53(5.132.191.104)
;; WHEN: Thu Jul 19 14:46:33 CEST 2018
;; MSG SIZE  rcvd: 512
```
</details>

<details> 
  <summary>UncensoredDNS server 91.239.100.100 (MSG SIZE  rcvd: 394) <b>pfdns SUCCESSFUL</b></summary>

```console
root@pf:~# dig @91.239.100.100 www.paypal.com

; <<>> DiG 9.9.5-9+deb8u15-Debian <<>> @91.239.100.100 www.paypal.com
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 7485
;; flags: qr rd ra; QUERY: 1, ANSWER: 6, AUTHORITY: 8, ADDITIONAL: 2

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;www.paypal.com.                        IN      A

;; ANSWER SECTION:
www.paypal.com.         294     IN      CNAME   geo.paypal.com.akadns.net.
geo.paypal.com.akadns.net. 24   IN      CNAME   hotspot-www.paypal.com.akadns.net.
hotspot-www.paypal.com.akadns.net. 24 IN CNAME  wlb.paypal.com.akadns.net.
wlb.paypal.com.akadns.net. 24   IN      CNAME   www.paypal.com.edgekey.net.
www.paypal.com.edgekey.net. 77  IN      CNAME   e3694.a.akamaiedge.Net.
e3694.a.akamaiedge.net. 14      IN      A       23.54.167.16

;; AUTHORITY SECTION:
a.akamaiedge.net.       2361    IN      NS      n5a.akamaiedge.net.
a.akamaiedge.net.       2361    IN      NS      n1a.akamaiedge.net.
a.akamaiedge.net.       2361    IN      NS      n7a.akamaiedge.net.
a.akamaiedge.net.       2361    IN      NS      n2a.akamaiedge.net.
a.akamaiedge.net.       2361    IN      NS      n0a.akamaiedge.net.
a.akamaiedge.net.       2361    IN      NS      n4a.akamaiedge.net.
a.akamaiedge.net.       2361    IN      NS      n6a.akamaiedge.net.
a.akamaiedge.net.       2361    IN      NS      n3a.akamaiedge.net.

;; ADDITIONAL SECTION:
n7a.akamaiedge.net.     3302    IN      A       204.156.15.232

;; Query time: 97 msec
;; SERVER: 91.239.100.100#53(91.239.100.100)
;; WHEN: Thu Jul 19 14:53:34 CEST 2018
;; MSG SIZE  rcvd: 394
```
</details>

<details> 
  <summary>OpenDNS server 208.67.220.220 (MSG SIZE  rcvd: 212) <b>pfdns SUCCESSFUL</b></summary>

```console
root@pf:~# dig @208.67.220.220 www.paypal.com

; <<>> DiG 9.9.5-9+deb8u15-Debian <<>> @208.67.220.220 www.paypal.com
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 18166
;; flags: qr rd ra; QUERY: 1, ANSWER: 6, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;www.paypal.com.                        IN      A

;; ANSWER SECTION:
www.paypal.com.         170     IN      CNAME   geo.paypal.com.akadns.net.
geo.paypal.com.akadns.net. 30   IN      CNAME   hotspot-www.paypal.com.akadns.net.
hotspot-www.paypal.com.akadns.net. 30 IN CNAME  wlb.paypal.com.akadns.net.
wlb.paypal.com.akadns.net. 30   IN      CNAME   www.paypal.com.edgekey.net.
www.paypal.com.edgekey.net. 55  IN      CNAME   e3694.a.akamaiedge.net.
e3694.a.akamaiedge.net. 20      IN      A       23.209.100.230

;; Query time: 310 msec
;; SERVER: 208.67.220.220#53(208.67.220.220)
;; WHEN: Thu Jul 19 14:56:25 CEST 2018
;; MSG SIZE  rcvd: 212
```
</details>
<br>
We tried several servers configured in accordance with their policy, pfdns only with our upstream DNS server (217.151.224.19) produces such an error.





I tried to use 217.151.224.19 but i am not allowed to use it.

Can you try to patch pfdns with this code
```
diff --git a/go/coredns/plugin/pfdns/pfdns.go b/go/coredns/plugin/pfdns/pfdns.go
index 8480fa9560..d40d23ed20 100644
--- a/go/coredns/plugin/pfdns/pfdns.go
+++ b/go/coredns/plugin/pfdns/pfdns.go
@@ -11,6 +11,7 @@ import (
        "regexp"
        "time"
 
+       "github.com/davecgh/go-spew/spew"
        "github.com/inverse-inc/packetfence/go/coredns/plugin"
        "github.com/inverse-inc/packetfence/go/coredns/request"
        "github.com/inverse-inc/packetfence/go/db"
@@ -143,6 +144,7 @@ func (pf *pfdns) ServeDNS(ctx context.Context, w dns.ResponseWriter, r *dns.Msg)
        for k, v := range pf.FqdnPort {
                if k.MatchString(state.QName()) {
                        answer, _ := pf.LocalResolver(state)
+                       spew.Dump(answer)
                        for _, ans := range append(answer.Answer, answer.Extra...) {
                                switch ansb := ans.(type) {
                                case *dns.A:
```
and recompile pfdns ?
Instructions are there https://github.com/inverse-inc/packetfence/blob/devel/go/README.md
So after  "govendor sync" you need to apply the patch and do "make pfdns" instead of  make "pfhttpd".

When done, run pfdns directly from the cli and the debug will appear. (paste me it please)

I compiled with your patch with dump then run pfdns in cli mode
and run http_ping *www.paypal.com* from the registration VLAN:

<details> 
  <summary>DNS 8.8.8.8:  <b>SUCCESSFUL</b></summary>

```console
root@pf:~# /usr/local/pf/sbin/pfdns -conf /usr/local/pf/var/conf/pfdns.conf
.:54
.:53
2018/07/20 16:26:38 [INFO] CoreDNS-0.9.9
2018/07/20 16:26:38 [INFO] linux/amd64, go1.10,
CoreDNS-0.9.9
linux/amd64, go1.10,
(*dns.Msg)(0xc4202a0b40)(;; opcode: QUERY, status: NOERROR, id: 49821
;; flags: qr rd ra; QUERY: 1, ANSWER: 6, AUTHORITY: 0, ADDITIONAL: 0

;; QUESTION SECTION:
;www.paypal.com.        IN       A

;; ANSWER SECTION:
www.paypal.com. 105     IN      CNAME   geo.paypal.com.akadns.net.
geo.paypal.com.akadns.net.      29      IN      CNAME   hotspot-www.paypal.com.akadns.net.
hotspot-www.paypal.com.akadns.net.      29      IN      CNAME   wlb.paypal.com.akadns.net.
wlb.paypal.com.akadns.net.      29      IN      CNAME   www.paypal.com.edgekey.net.
www.paypal.com.edgekey.net.     113     IN      CNAME   e3694.a.akamaiedge.net.
e3694.a.akamaiedge.net. 19      IN      A       23.209.100.230
)
192.168.32.10 : 00:30:48:fe:06:67 passthrough
192.168.32.10 - [20/Jul/2018:16:26:43 +0200] "A IN www.paypal.com. udp 32 false 512" NOERROR qr,rd,ra 201 87.820465ms
```
</details>
<details> 
  <summary>DNS 217.151.224.19:  <b>ERROR!</b></summary>

```console
root@pf:~# /usr/local/pf/sbin/pfdns -conf /usr/local/pf/var/conf/pfdns.conf
.:54
.:53
2018/07/20 16:31:02 [INFO] CoreDNS-0.9.9
2018/07/20 16:31:02 [INFO] linux/amd64, go1.10,
CoreDNS-0.9.9
linux/amd64, go1.10,
(*dns.Msg)(<nil>)
20/Jul/2018:16:31:11 +0200 [PANIC www.paypal.com. A] plugin/pfdns/pfdns.go:148 - runtime error: invalid memory address or nil pointer dereference
(*dns.Msg)(<nil>)
20/Jul/2018:16:31:17 +0200 [PANIC www.paypal.com. A] plugin/pfdns/pfdns.go:148 - runtime error: invalid memory address or nil pointer dereference
```
</details>
<br>
At the same time, the DNS request from the PacketFence server looks normal:
<br>
<br>
<details> 
  <summary>dig @217.151.224.19 www.paypal.com</summary>

```console
; <<>> DiG 9.9.5-9+deb8u15-Debian <<>> @217.151.224.19 www.paypal.com
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 39490
;; flags: qr rd ra; QUERY: 1, ANSWER: 6, AUTHORITY: 8, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;www.paypal.com.                        IN      A

;; ANSWER SECTION:
www.paypal.com.         300     IN      CNAME   geo.paypal.com.akadns.net.
geo.paypal.com.akadns.net. 30   IN      CNAME   hotspot-www.paypal.com.akadns.net.
hotspot-www.paypal.com.akadns.net. 30 IN CNAME  wlb.paypal.com.akadns.net.
wlb.paypal.com.akadns.net. 30   IN      CNAME   www.paypal.com.edgekey.net.
www.paypal.com.edgekey.net. 120 IN      CNAME   e3694.a.akamaiedge.net.
e3694.a.akamaiedge.net. 20      IN      A       23.53.173.13

;; AUTHORITY SECTION:
a.akamaiedge.net.       3698    IN      NS      n4a.akamaiedge.net.
a.akamaiedge.net.       3698    IN      NS      n0a.akamaiedge.net.
a.akamaiedge.net.       3698    IN      NS      n6a.akamaiedge.net.
a.akamaiedge.net.       3698    IN      NS      n7a.akamaiedge.net.
a.akamaiedge.net.       3698    IN      NS      n5a.akamaiedge.net.
a.akamaiedge.net.       3698    IN      NS      n3a.akamaiedge.net.
a.akamaiedge.net.       3698    IN      NS      n1a.akamaiedge.net.
a.akamaiedge.net.       3698    IN      NS      n2a.akamaiedge.net.

;; Query time: 227 msec
;; SERVER: 217.151.224.19#53(217.151.224.19)
;; WHEN: Fri Jul 20 16:36:08 CEST 2018
;; MSG SIZE  rcvd: 356
```
</details>
<br>
I see that in the response of our server there are many fields "IN NS", but he is so configured as upstream, can this be the source of the issue?



Ok so there is no answer from the LocalResolver.
Btw we doesn't log the error.
Can you use this patch to see what is the error ?

```
diff --git a/go/coredns/plugin/pfdns/pfdns.go b/go/coredns/plugin/pfdns/pfdns.go
index 8480fa9560..b391982abd 100644
--- a/go/coredns/plugin/pfdns/pfdns.go
+++ b/go/coredns/plugin/pfdns/pfdns.go
@@ -122,13 +122,17 @@ func (pf *pfdns) ServeDNS(ctx context.Context, w dns.ResponseWriter, r *dns.Msg)
 		// Passthrough bypass
 		for k, v := range pf.FqdnIsolationPort {
 			if k.MatchString(state.QName()) {
-				answer, _ := pf.LocalResolver(state)
-				for _, ans := range append(answer.Answer, answer.Extra...) {
-					switch ansb := ans.(type) {
-					case *dns.A:
-						for _, valeur := range v {
-							if err := pf.SetPassthrough(ctx, "passthrough_isolation", ansb.A.String(), valeur, false); err != nil {
-								fmt.Println("Not able to contact Unified API to adjust passthroughs", err)
+				answer, err := pf.LocalResolver(state)
+				if err != nil {
+					fmt.Println("Local resolver error with the following error" + err.Error())
+				} else {
+					for _, ans := range append(answer.Answer, answer.Extra...) {
+						switch ansb := ans.(type) {
+						case *dns.A:
+							for _, valeur := range v {
+								if err := pf.SetPassthrough(ctx, "passthrough_isolation", ansb.A.String(), valeur, false); err != nil {
+									fmt.Println("Not able to contact Unified API to adjust passthroughs", err)
+								}
 							}
 						}
 					}
@@ -142,13 +146,17 @@ func (pf *pfdns) ServeDNS(ctx context.Context, w dns.ResponseWriter, r *dns.Msg)
 	// Passthrough bypass
 	for k, v := range pf.FqdnPort {
 		if k.MatchString(state.QName()) {
-			answer, _ := pf.LocalResolver(state)
-			for _, ans := range append(answer.Answer, answer.Extra...) {
-				switch ansb := ans.(type) {
-				case *dns.A:
-					for _, valeur := range v {
-						if err := pf.SetPassthrough(ctx, "passthrough", ansb.A.String(), valeur, false); err != nil {
-							fmt.Println("Not able to contact Unified API to adjust passthroughs", err)
+			answer, err := pf.LocalResolver(state)
+			if err != nil {
+				fmt.Println("Local resolver error with the following error" + err.Error())
+			} else {
+				for _, ans := range append(answer.Answer, answer.Extra...) {
+					switch ansb := ans.(type) {
+					case *dns.A:
+						for _, valeur := range v {
+							if err := pf.SetPassthrough(ctx, "passthrough", ansb.A.String(), valeur, false); err != nil {
+								fmt.Println("Not able to contact Unified API to adjust passthroughs", err)
+							}
 						}
 					}
 				}
@@ -161,13 +169,17 @@ func (pf *pfdns) ServeDNS(ctx context.Context, w dns.ResponseWriter, r *dns.Msg)
 	// Domain bypass
 	for k, v := range pf.FqdnDomainPort {
 		if k.MatchString(state.QName()) {
-			answer, _ := pf.LocalResolver(state)
-			for _, ans := range append(answer.Answer, answer.Extra...) {
-				switch ansb := ans.(type) {
-				case *dns.A:
-					for _, valeur := range v {
-						if err := pf.SetPassthrough(ctx, "passthrough", ansb.A.String(), valeur, true); err != nil {
-							fmt.Println("Not able to contact localhost", err)
+			answer, err := pf.LocalResolver(state)
+			if err != nil {
+				fmt.Println("Local resolver error with the following error" + err.Error())
+			} else {
+				for _, ans := range append(answer.Answer, answer.Extra...) {
+					switch ansb := ans.(type) {
+					case *dns.A:
+						for _, valeur := range v {
+							if err := pf.SetPassthrough(ctx, "passthrough", ansb.A.String(), valeur, true); err != nil {
+								fmt.Println("Not able to contact localhost", err)
+							}
 						}
 					}
 				}
```

```console
root@pf:~# /usr/local/pf/sbin/pfdns -conf /usr/local/pf/var/conf/pfdns.conf
.:54
.:53
2018/07/21 10:58:51 [INFO] CoreDNS-0.9.9
2018/07/21 10:58:51 [INFO] linux/amd64, go1.10,
CoreDNS-0.9.9
linux/amd64, go1.10,
Local resolver error with the following error: read tcp 127.0.0.1:45893->127.0.0.1:54: i/o timeout
192.168.32.10 : 00:30:48:fe:06:67 passthrough
192.168.32.10 - [21/Jul/2018:10:59:05 +0200] "A IN www.paypal.com. udp 32 false 512" NOERROR qr,tc,rd,ra 345 5.356285186s
Local resolver error with the following error: read tcp 127.0.0.1:45911->127.0.0.1:54: i/o timeout
192.168.32.10 : 00:30:48:fe:06:67 passthrough
192.168.32.10 - [21/Jul/2018:10:59:10 +0200] "A IN www.paypal.com. udp 32 false 512" NOERROR qr,tc,rd,ra 345 5.003783374s
Local resolver error with the following error: read tcp 127.0.0.1:45913->127.0.0.1:54: i/o timeout
192.168.32.10 : 00:30:48:fe:06:67 passthrough
```

This is the output of the '/usr/sbin/tcpdump -vv -n -i eth0 port 53' on the outgoing interface of the packetfence when requested through various upstream DNS servers.

<details> 
  <summary>upstream DNS 8.8.8.8</summary>

```console
12:09:00.275951 IP (tos 0x0, ttl 64, id 5082, offset 0, flags [DF], proto UDP (17), length 60)
    217.151.224.132.40914 > 8.8.8.8.53: [bad udp cksum 0xca65 -> 0x9edb!] 26079+ A? www.paypal.com. (32)
12:09:00.298864 IP (tos 0x0, ttl 119, id 30479, offset 0, flags [none], proto UDP (17), length 229)
    8.8.8.8.53 > 217.151.224.132.40914: [udp sum ok] 26079 q: A? www.paypal.com. 6/0/0 www.paypal.com. CNAME geo.paypal.com.akadns.net., geo.paypal.com.akadns.net. CNAME hotspot-www.paypal.com.akadns.net., hotspot-www.paypal.com.akadns.net. CNAME wlb.paypal.com.akadns.net., wlb.paypal.com.akadns.net. CNAME www.paypal.com.edgekey.net., www.paypal.com.edgekey.net. CNAME e3694.a.akamaiedge.net., e3694.a.akamaiedge.net. A 23.53.173.13 (201)
```
</details>

<details> 
  <summary>upstream DNS 217.151.224.19</summary>

```console
12:11:17.496248 IP (tos 0x0, ttl 64, id 52398, offset 0, flags [DF], proto UDP (17), length 60)
    217.151.224.132.48637 > 217.151.224.19.53: [bad udp cksum 0x7401 -> 0x5669!] 59018+ A? www.paypal.com. (32)
12:11:17.753715 IP (tos 0x0, ttl 63, id 40311, offset 0, flags [none], proto UDP (17), length 373)
    217.151.224.19.53 > 217.151.224.132.48637: [udp sum ok] 59018 q: A? www.paypal.com. 6/8/0 www.paypal.com. CNAME geo.paypal.com.akadns.net., geo.paypal.com.akadns.net. CNAME hotspot-www.paypal.com.akadns.net., hotspot-www.paypal.com.akadns.net. CNAME wlb.paypal.com.akadns.net., wlb.paypal.com.akadns.net. CNAME www.paypal.com.edgekey.net., www.paypal.com.edgekey.net. CNAME e3694.a.akamaiedge.net., e3694.a.akamaiedge.net. A 23.53.173.13 ns: a.akamaiedge.net. NS n4a.akamaiedge.net., a.akamaiedge.net. NS n3a.akamaiedge.net., a.akamaiedge.net. NS n2a.akamaiedge.net., a.akamaiedge.net. NS n0a.akamaiedge.net., a.akamaiedge.net. NS n5a.akamaiedge.net., a.akamaiedge.net. NS n6a.akamaiedge.net., a.akamaiedge.net. NS n7a.akamaiedge.net., a.akamaiedge.net. NS n1a.akamaiedge.net. (345)
12:11:17.754504 IP (tos 0x0, ttl 64, id 29479, offset 0, flags [DF], proto TCP (6), length 60)
    217.151.224.132.44906 > 217.151.224.19.53: Flags [S], cksum 0x73f6 (incorrect -> 0xd67e), seq 1391663884, win 29200, options [mss 1460,sackOK,TS val 98527275 ecr 0,nop,wscale 7], length 0
12:11:18.752886 IP (tos 0x0, ttl 64, id 29480, offset 0, flags [DF], proto TCP (6), length 60)
    217.151.224.132.44906 > 217.151.224.19.53: Flags [S], cksum 0x73f6 (incorrect -> 0xd584), seq 1391663884, win 29200, options [mss 1460,sackOK,TS val 98527525 ecr 0,nop,wscale 7], length 0
12:11:20.756921 IP (tos 0x0, ttl 64, id 29481, offset 0, flags [DF], proto TCP (6), length 60)
    217.151.224.132.44906 > 217.151.224.19.53: Flags [S], cksum 0x73f6 (incorrect -> 0xd38f), seq 1391663884, win 29200, options [mss 1460,sackOK,TS val 98528026 ecr 0,nop,wscale 7], length 0
```
</details>
<br>
It is noteworthy that through our server 217.151.224.19, after the first request-response over the UDP:53, attempts are being made to establish a number of TCP:53 failed connections because this port is closed for zone transfer protection (AXFR), this results to timeout.

Ok so this is an issue because the packet is to large and the port tcp 53 is blocked.
We can't do anything about that.


@fdurand 

Is the additional logging about the local resolver error in devel now?

I think with that, we could consider the issue closed

I do not think that the answer of our DNS server is too large. It was only 345 bytes but not 512 in accordance with RFC5966, part4:

`Most DNS [  RFC1034  ] transactions take place over UDP [  RFC0768  ].  TCP [  RFC0793  ] is always used for zone transfers and is often used for messages whose sizes exceed the DNS protocol's original 512-byte limit. 
`

and the request for the OpenNIC Public Server (5.132.191.104) gives 512 bytes without open  TCP session:

```console
16:25:09.076231 IP (tos 0x0, ttl 64, id 47789, offset 0, flags [none], proto UDP (17), length 71)
    217.151.224.132.55351 > 5.132.191.104.53: [bad udp cksum 0x7f4d -> 0x8209!] 27688+ [1au] A? www.paypal.com. ar: . OPT UDPsize=4096 (43)
16:25:09.115237 IP (tos 0x0, ttl 55, id 40336, offset 0, flags [none], proto UDP (17), length 540)
    5.132.191.104.53 > 217.151.224.132.55351: [udp sum ok] 27688 q: A? www.paypal.com. 6/8/10 www.paypal.com. CNAME geo.paypal.com.akadns.net., geo.paypal.com.akadns.net. CNAME hotspot-www.paypal.com.akadns.net., hotspot-www.paypal.com.akadns.net. CNAME wlb.paypal.com.akadns.net., wlb.paypal.com.akadns.net. CNAME www.paypal.com.edgekey.net., www.paypal.com.edgekey.net. CNAME e3694.a.akamaiedge.net., e3694.a.akamaiedge.net. A 92.122.157.148 ns: a.akamaiedge.net. NS n3a.akamaiedge.net., a.akamaiedge.net. NS n4a.akamaiedge.net., a.akamaiedge.net. NS n5a.akamaiedge.net., a.akamaiedge.net. NS n6a.akamaiedge.net., a.akamaiedge.net. NS n7a.akamaiedge.net., a.akamaiedge.net. NS n0a.akamaiedge.net., a.akamaiedge.net. NS n1a.akamaiedge.net., a.akamaiedge.net. NS n2a.akamaiedge.net. ar: n0a.akamaiedge.net. A 88.221.81.192, n0a.akamaiedge.net. AAAA 2600:1480:e800::c0, n1a.akamaiedge.net. A 2.23.97.93, n2a.akamaiedge.net. A 2.23.97.127, n3a.akamaiedge.net. A 2.23.97.126, n4a.akamaiedge.net. A 2.23.97.124, n5a.akamaiedge.net. A 2.23.97.92, n6a.akamaiedge.net. A 23.6.113.212, n7a.akamaiedge.net. A 23.6.113.213, . OPT UDPsize=4096 (512)

```

most likely *pfdns* improperly handles the situation with the records of the IN NS without IN A to the zone and try to do AXFR, but usually such operations are only available to backbone servers and for clients are closed.



So we need to see why it fail with UDP.

```
diff --git a/go/coredns/plugin/pfdns/pfdns.go b/go/coredns/plugin/pfdns/pfdns.go
index 8480fa9560..8dfc502ec6 100644
--- a/go/coredns/plugin/pfdns/pfdns.go
+++ b/go/coredns/plugin/pfdns/pfdns.go
@@ -536,6 +536,7 @@ func (pf *pfdns) LocalResolver(request request.Request) (*dns.Msg, error) {
        request.Req.RecursionDesired = true
        r, _, err := localc.Exchange(request.Req, "127.0.0.1:54")
        if err != nil {
+               fmt.Println("UDP Local resolver failed with the following error: " + err.Error() + ". try TCP")
                localc.Net = "tcp"
                r, _, err = localc.Exchange(request.Req, "127.0.0.1:54")
                if err != nil {
```

```console
root@pf:~# /usr/local/pf/sbin/pfdns -conf /usr/local/pf/var/conf/pfdns.conf
.:54
.:53
2018/07/23 20:57:51 [INFO] CoreDNS-0.9.9
2018/07/23 20:57:51 [INFO] linux/amd64, go1.10,
CoreDNS-0.9.9
linux/amd64, go1.10,
127.0.0.1 - [23/Jul/2018:20:57:54 +0200] "A IN www.paypal.com. udp 32 false 512" NOERROR qr,tc,rd,ra 345 13.388498ms
UDP Local resolver failed with the following error: dns: failed to unpack truncated message. try TCP
23/Jul/2018:20:57:59 +0200 [PANIC www.paypal.com. A] plugin/pfdns/pfdns.go:146 - runtime error: invalid memory address or nil pointer dereference
127.0.0.1 - [23/Jul/2018:20:57:59 +0200] "A IN www.paypal.com. udp 32 false 512" NOERROR qr,tc,rd,ra 345 979.487µs
UDP Local resolver failed with the following error: dns: failed to unpack truncated message. try TCP
23/Jul/2018:20:58:04 +0200 [PANIC www.paypal.com. A] plugin/pfdns/pfdns.go:146 - runtime error: invalid memory address or nil pointer dereference
127.0.0.1 - [23/Jul/2018:20:58:09 +0200] "A IN www.paypal.com.vlan-registration.insat-net.de. udp 63 false 512" NXDOMAIN qr,aa,rd,ra 106 756.757µs
192.168.32.10 : 00:30:48:fe:06:67 passthrough
192.168.32.10 - [23/Jul/2018:20:58:09 +0200] "A IN www.paypal.com.vlan-registration.insat-net.de. udp 63 false 512" NXDOMAIN qr,aa,rd,ra 106 2.538693ms
```

Ok so i did a change and the logic is the following:
Try first to resolve the original request without any modification, if it failed then try tcp and if it failed then go back to udp and force Type A.
```
diff --git a/go/coredns/plugin/pfdns/pfdns.go b/go/coredns/plugin/pfdns/pfdns.go
index 8480fa9560..e975c2af63 100644
--- a/go/coredns/plugin/pfdns/pfdns.go
+++ b/go/coredns/plugin/pfdns/pfdns.go
@@ -534,19 +534,30 @@ func (pf *pfdns) LocalResolver(request request.Request) (*dns.Msg, error) {
                ReadTimeout: DefaultTimeout,
        }
        request.Req.RecursionDesired = true
-       r, _, err := localc.Exchange(request.Req, "127.0.0.1:54")
-       if err != nil {
-               localc.Net = "tcp"
-               r, _, err = localc.Exchange(request.Req, "127.0.0.1:54")
+       request.Req.RecursionAvailable = true
+       localc.Net = "udp"
+       for i := 0; i < 3; i++ {
+               r, _, err := localc.Exchange(request.Req, "127.0.0.1:54")
+               if err == dns.ErrTruncated && i == 0 {
+                       fmt.Println("UDP Local resolver failed with the following error: " + err.Error() + ". try TCP")
+                       localc.Net = "tcp"
+               }
+               if err != nil && i == 1 {
+                       fmt.Println("TCP Local resolver failed with the following error: " + err.Error() + ". try UDP with type A")
+                       localc.Net = "udp"
+                       request.Req.SetQuestion(dns.Fqdn(request.Name()), dns.TypeA)
+               }
                if err != nil {
-                       return nil, err
+                       fmt.Println("Local resolver failed with the following message " + err.Error())
+                       continue
+               } else {
+                       if r == nil || r.Rcode == dns.RcodeNameError || r.Rcode == dns.RcodeSuccess {
+                               return r, err
+                       } else {
+                               return nil, errors.New("No name server to answer the question")
+                       }
                }
        }
-
-       if r == nil || r.Rcode == dns.RcodeNameError || r.Rcode == dns.RcodeSuccess {
-               return r, err
-       }
-
        return nil, errors.New("No name server to answer the question")
 }
```


<details> 
  <summary>root@pf:~# /usr/local/pf/sbin/pfdns -conf /usr/local/pf/var/conf/pfdns.conf</summary>

```console
root@pf:~# /usr/local/pf/sbin/pfdns -conf /usr/local/pf/var/conf/pfdns.conf
.:54
.:53
2018/07/24 17:22:11 [INFO] CoreDNS-0.9.9
2018/07/24 17:22:11 [INFO] linux/amd64, go1.10,
CoreDNS-0.9.9
linux/amd64, go1.10,
127.0.0.1 - [24/Jul/2018:17:22:15 +0200] "A IN www.paypal.com. udp 32 false 512" NOERROR qr,tc,rd,ra 345 58.291898ms
UDP Local resolver failed with the following error: dns: failed to unpack truncated message. try TCP
Local resolver failed with the following message dns: failed to unpack truncated message
127.0.0.1 - [24/Jul/2018:17:22:20 +0200] "A IN www.paypal.com. udp 32 false 512" NOERROR qr,tc,rd,ra 345 899.712µs
UDP Local resolver failed with the following error: dns: failed to unpack truncated message. try TCP
Local resolver failed with the following message dns: failed to unpack truncated message
TCP Local resolver failed with the following error: read tcp 127.0.0.1:33455->127.0.0.1:54: i/o timeout. try UDP with type A
Local resolver failed with the following message read tcp 127.0.0.1:33455->127.0.0.1:54: i/o timeout
127.0.0.1 - [24/Jul/2018:17:22:20 +0200] "A IN www.paypal.com. udp 32 false 512" NOERROR qr,tc,rd,ra 345 906.171µs
Local resolver failed with the following message dns: failed to unpack truncated message
24/Jul/2018:17:22:20 +0200 [PANIC www.paypal.com. A] plugin/pfdns/pfdns.go:146 - runtime error: invalid memory address or nil pointer dereference
TCP Local resolver failed with the following error: read tcp 127.0.0.1:33468->127.0.0.1:54: i/o timeout. try UDP with type A
Local resolver failed with the following message read tcp 127.0.0.1:33468->127.0.0.1:54: i/o timeout
127.0.0.1 - [24/Jul/2018:17:22:25 +0200] "A IN www.paypal.com. udp 32 false 512" NOERROR qr,tc,rd,ra 345 1.044689ms
Local resolver failed with the following message dns: failed to unpack truncated message
24/Jul/2018:17:22:25 +0200 [PANIC www.paypal.com. A] plugin/pfdns/pfdns.go:146 - runtime error: invalid memory address or nil pointer dereference
127.0.0.1 - [24/Jul/2018:17:22:30 +0200] "A IN www.paypal.com.vlan-registration.insat-net.de. udp 63 false 512" NXDOMAIN qr,aa,rd,ra 106 731.07µs
192.168.32.10 : 00:30:48:fe:06:67 passthrough
192.168.32.10 - [24/Jul/2018:17:22:30 +0200] "A IN www.paypal.com.vlan-registration.insat-net.de. udp 63 false 512" NXDOMAIN qr,aa,rd,ra 106 2.468246ms
127.0.0.1 - [24/Jul/2018:17:24:22 +0200] "A IN www.paypal.com. tcp 32 false 65535" SERVFAIL qr,rd 32 2m7.194917221s
24/Jul/2018:17:24:22 +0200 [ERROR 0 www.paypal.com. A] unreachable backend: dial tcp 217.151.224.19:53: connect: connection timed out
127.0.0.1 - [24/Jul/2018:17:24:27 +0200] "A IN www.paypal.com. tcp 32 false 65535" SERVFAIL qr,rd 32 2m7.320414031s
24/Jul/2018:17:24:27 +0200 [ERROR 0 www.paypal.com. A] unreachable backend: dial tcp 217.151.224.19:53: connect: connection timed out
```
</details>
<br>
<details> 
  <summary>root@pf:~# /usr/sbin/tcpdump -vv -n -i eth0 port 53</summary>

```console
17:28:30.890650 IP (tos 0x0, ttl 64, id 30512, offset 0, flags [DF], proto UDP (17), length 60)
    217.151.224.132.40884 > 217.151.224.19.53: [bad udp cksum 0x7401 -> 0x8052!] 55914+ [b2&3=0x180] A? www.paypal.com. (32)
17:28:31.248882 IP (tos 0x0, ttl 63, id 62011, offset 0, flags [none], proto UDP (17), length 373)
    217.151.224.19.53 > 217.151.224.132.40884: [udp sum ok] 55914 q: A? www.paypal.com. 6/8/0 www.paypal.com. CNAME geo.paypal.com.akadns.net.
, geo.paypal.com.akadns.net. CNAME hotspot-www.paypal.com.akadns.net., hotspot-www.paypal.com.akadns.net. CNAME wlb.paypal.com.akadns.net., wl
b.paypal.com.akadns.net. CNAME www.paypal.com.edgekey.net., www.paypal.com.edgekey.net. CNAME e3694.a.akamaiedge.net., e3694.a.akamaiedge.net.
 A 104.108.64.175 ns: a.akamaiedge.net. NS n3a.akamaiedge.net., a.akamaiedge.net. NS n1a.akamaiedge.net., a.akamaiedge.net. NS n4a.akamaiedge.
net., a.akamaiedge.net. NS n7a.akamaiedge.net., a.akamaiedge.net. NS n5a.akamaiedge.net., a.akamaiedge.net. NS n6a.akamaiedge.net., a.akamaied
ge.net. NS n0a.akamaiedge.net., a.akamaiedge.net. NS n2a.akamaiedge.net. (345)
17:28:31.249978 IP (tos 0x0, ttl 64, id 1338, offset 0, flags [DF], proto TCP (6), length 60)
    217.151.224.132.49454 > 217.151.224.19.53: Flags [S], cksum 0x73f6 (incorrect -> 0x1a34), seq 3863924139, win 29200, options [mss 1460,sac
kOK,TS val 168085649 ecr 0,nop,wscale 7], length 0
17:28:32.248919 IP (tos 0x0, ttl 64, id 1339, offset 0, flags [DF], proto TCP (6), length 60)
    217.151.224.132.49454 > 217.151.224.19.53: Flags [S], cksum 0x73f6 (incorrect -> 0x193a), seq 3863924139, win 29200, options [mss 1460,sac
kOK,TS val 168085899 ecr 0,nop,wscale 7], length 0
17:28:34.252910 IP (tos 0x0, ttl 64, id 1340, offset 0, flags [DF], proto TCP (6), length 60)
    217.151.224.132.49454 > 217.151.224.19.53: Flags [S], cksum 0x73f6 (incorrect -> 0x1745), seq 3863924139, win 29200, options [mss 1460,sac
kOK,TS val 168086400 ecr 0,nop,wscale 7], length 0
17:28:35.906268 IP (tos 0x0, ttl 64, id 31186, offset 0, flags [DF], proto UDP (17), length 60)
    217.151.224.132.52569 > 217.151.224.19.53: [bad udp cksum 0x7401 -> 0x52ad!] 55914+ [b2&3=0x180] A? www.paypal.com. (32)
17:28:35.906869 IP (tos 0x0, ttl 63, id 62026, offset 0, flags [none], proto UDP (17), length 373)
    217.151.224.19.53 > 217.151.224.132.52569: [udp sum ok] 55914 q: A? www.paypal.com. 6/8/0 www.paypal.com. CNAME geo.paypal.com.akadns.net.
, geo.paypal.com.akadns.net. CNAME hotspot-www.paypal.com.akadns.net., hotspot-www.paypal.com.akadns.net. CNAME wlb.paypal.com.akadns.net., wl
b.paypal.com.akadns.net. CNAME www.paypal.com.edgekey.net., www.paypal.com.edgekey.net. CNAME e3694.a.akamaiedge.net., e3694.a.akamaiedge.net.
 A 104.108.64.175 ns: a.akamaiedge.net. NS n6a.akamaiedge.net., a.akamaiedge.net. NS n0a.akamaiedge.net., a.akamaiedge.net. NS n3a.akamaiedge.
net., a.akamaiedge.net. NS n7a.akamaiedge.net., a.akamaiedge.net. NS n5a.akamaiedge.net., a.akamaiedge.net. NS n2a.akamaiedge.net., a.akamaied
ge.net. NS n4a.akamaiedge.net., a.akamaiedge.net. NS n1a.akamaiedge.net. (345)
17:28:35.907690 IP (tos 0x0, ttl 64, id 6330, offset 0, flags [DF], proto TCP (6), length 60)
    217.151.224.132.49469 > 217.151.224.19.53: Flags [S], cksum 0x73f6 (incorrect -> 0x68e7), seq 2332349863, win 29200, options [mss 1460,sackOK,TS val 168086813 ecr 0,nop,wscale 7], length 0
17:28:36.250771 IP (tos 0x0, ttl 64, id 31215, offset 0, flags [DF], proto UDP (17), length 60)
    217.151.224.132.45780 > 217.151.224.19.53: [bad udp cksum 0x7401 -> 0x530d!] 62607+ [b2&3=0x180] A? www.paypal.com. (32)
17:28:36.251224 IP (tos 0x0, ttl 63, id 62028, offset 0, flags [none], proto UDP (17), length 373)
    217.151.224.19.53 > 217.151.224.132.45780: [udp sum ok] 62607 q: A? www.paypal.com. 6/8/0 www.paypal.com. CNAME geo.paypal.com.akadns.net., geo.paypal.com.akadns.net. CNAME hotspot-www.paypal.com.akadns.net., hotspot-www.paypal.com.akadns.net. CNAME wlb.paypal.com.akadns.net., wlb.paypal.com.akadns.net. CNAME www.paypal.com.edgekey.net., www.paypal.com.edgekey.net. CNAME e3694.a.akamaiedge.net., e3694.a.akamaiedge.net. A 104.108.64.175 ns: a.akamaiedge.net. NS n5a.akamaiedge.net., a.akamaiedge.net. NS n7a.akamaiedge.net., a.akamaiedge.net. NS n2a.akamaiedge.net., a.akamaiedge.net. NS n4a.akamaiedge.net., a.akamaiedge.net. NS n3a.akamaiedge.net., a.akamaiedge.net. NS n1a.akamaiedge.net., a.akamaiedge.net. NS n6a.akamaiedge.net., a.akamaiedge.net. NS n0a.akamaiedge.net. (345)
17:28:36.904927 IP (tos 0x0, ttl 64, id 6331, offset 0, flags [DF], proto TCP (6), length 60)
    217.151.224.132.49469 > 217.151.224.19.53: Flags [S], cksum 0x73f6 (incorrect -> 0x67ed), seq 2332349863, win 29200, options [mss 1460,sackOK,TS val 168087063 ecr 0,nop,wscale 7], length 0
17:28:38.260903 IP (tos 0x0, ttl 64, id 1341, offset 0, flags [DF], proto TCP (6), length 60)
    217.151.224.132.49454 > 217.151.224.19.53: Flags [S], cksum 0x73f6 (incorrect -> 0x135b), seq 3863924139, win 29200, options [mss 1460,sackOK,TS val 168087402 ecr 0,nop,wscale 7], length 0
17:28:38.912909 IP (tos 0x0, ttl 64, id 6332, offset 0, flags [DF], proto TCP (6), length 60)
    217.151.224.132.49469 > 217.151.224.19.53: Flags [S], cksum 0x73f6 (incorrect -> 0x65f7), seq 2332349863, win 29200, options [mss 1460,sackOK,TS val 168087565 ecr 0,nop,wscale 7], length 0
```
</details>

What we can try is instead of using 127.0.0.1:54 in the local resolver, we can use directly the /etc/resolv.conf as dns server.
I think that even if we set tcp versus udp , core dns on the port 54 do what it want to do.
I will provide another patch soon to test.

Sorry for the delay, here the patch based on devel https://github.com/inverse-inc/packetfence/commit/46e8a668c3c4986695dd94c0d5a88c6bca70d91c

Hello @fdurand. Unfortunately, us don’t have the opportunity to check this patch, we changed the external DNS to another without the AXFR now the DNS works as it should, but the problem possibly remains for other users who may face it. Probably this issue is specific for only us. We plan to update PF to 8.2.0 and check again.